@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><a href="Home/StudentView">Student Data as ContentView</a></p>
    <p><a href="Home/StudentList">Student Data as PartialView</a></p>

</div>
